// Colors
$color-primary: #44BBA4;
$color-alternative: #3F88C5;
$color-dark: #393E41;
$color-light: #F6F7EB;
$color-warning: #F3CA40;
$color-alert: #E94F37;


// Spacing
$gutter: 1rem;

// Font
$font-primary: 'Nunito', sans-serif;
$fontSize-title: 28px;
$fontSize-content: 16px;

// Radius
$radius: 2px;