// Breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-largeDesktop: 1200px;

// Colors
$color-primary: #44BBA4;
$color-alternative: #3F88C5;
$color-dark: #393E41;
$color-light: #F6F7EB;
$color-warning: #F3CA40;
$color-alert: #E94F3780;


// Spacing
$gutter: 1rem;

// Font
$font-primary: 'Nunito', sans-serif;
$fontSize-title: 2.5rem;
$fontSize-data : 2rem;
$fontSize-content: 1.1rem;
$fontSize-normal: 1rem;

// Radius
$radius: 10px;