/*
Device      = idBootstrap   => MinWidth
Mobile      = sm            => 576px
Tablet      = md            => 768px
PC          = lg            => 992px
Large PC    = xl            => 1200px

*/


body {
    font-family: 'Open Sans', sans-serif;
}

header {
    margin-bottom: 1em;
}

header {
    color: #333;
    text-align: center;
    padding-bottom: 0.2em;
}

.navbar,
.navbar-light .navbar-brand,
.navbar-light .navbar-toggler {
    color: #444;
    font-weight: 800;
}

header hr {
    border-width: 3px;
    border-color: #444;
    width: 60px;
}

.navbar-light .navbar-brand {
    font-size: 18px;
}

.navbar-toggler,
.nav-link {
    font-size: 12px;
    text-transform: uppercase;
    transition: 400ms;
}

.marquee {
    border-radius: 5px;
}

.synthesis {
    margin: 0.5em 0 2em 0;
    text-align:center;
}

h1 {
    padding-top: 0.5em;
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
}

.currentContent-container,
.forecastContent-container {
    display:flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px 3px #dee2e6;
    border-radius: 5px;
    margin: 1em auto;
    padding:0.5em 0;
}

.forecastContent-container {
    background-color: #F8F9FA;
    box-shadow: 3px 3px 3px 3px #eaebed;

}

.nodisplay,
.forecast__content.nodisplay {
    display:none;
}

.weather,
.tide {
    width: 100%;
    margin: auto;
}

.weather__title {
    text-align: left;
    margin: 1rem;
    padding-top: 1rem;
}

.weather__container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.5em;
}

.weather__picture {
    display:flex;
    align-items: center;
    justify-content: center;
}

.weather__content {
    display: flex;
    flex-direction: column;
    margin: 0.5em 1.5em;
    width:50%;
}

.weather__description {
    padding: 0.5em;
    text-align:center;
    text-transform: capitalize;
}

.weather__temperature,
.weather__content--wind {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding : 0.5em 1.5em;
    margin-bottom: 0.5em;
}

.forecast__weather--nextHours {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2em;
    text-align: center;
}

.tide__container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1em;
}

.tide__currentTide {
    color: #17A2B8;
    font-weight: bold;
    font-size: 1.2em;
}

.tide__nextTide--title {
    font-weight:bold;
    margin-top: 0.5em;
    margin-bottom:0;
}

.tide__secondTide--title {
    margin-top: 0.2em;
    color: #888;
}

.forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast__title {
    width: 100%;
    color: #444;
    font-size: 1em;
    text-align: center;
    border-radius: 5px;
    text-decoration: underline;
    padding: 0.5em;
    line-height:1.2em;
    margin:auto;
}

.forecast__content {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.page-link {
    text-transform: uppercase;
    color: inherit;
    font-size: 0.8em;
}

.page-link:hover {
    background-color: #dee2e6;
    color: inherit;
}

footer {
    color: #888;
    font-size:0.9em;
    margin: 3em 0 1em 0;
}

.row {
    margin: 0;
}

footer .links a {
    color: inherit;
}

footer .links a:hover {
    color: grey;
    text-decoration: none;
}


/* DEVICE TABLET => md in bootstrap */
@media (min-width:768px) {

    header {
        padding-bottom: 0;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: #17A2B8;
    }

    .navbar-nav .nav-item.active .nav-link, {
        color : #17A2B8;
    }


    h1 {
        font-size: 36px;
    }

    .currentContent-container {
        display:flex;
        flex-direction: row;
    }

    .weather, 
    .tide {
        width: 50%;
        margin: auto;
    }

    .weather__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: flex-start; */
    }

    .weather__forecast--nextHours {
        justify-content: center;
    }

    .forecast__content {
        width:50%;
    }


}

/* DEVICE PC => lg in bootstrap */
@media (min-width:992px) {

    header h1 {
        font-size: 2em;
    }

}