/*
Device      = idBootstrap   => MinWidth
Mobile      = sm            => 576px
Tablet      = md            => 768px
PC          = lg            => 992px
Large PC    = xl            => 1200px

Colors:

green #44BBA4
blue #3F88C5
grey #393E41
red #E94F37
ivory #F6F7EB

*/


body {
    font-family: 'Nunito', sans-serif;
}

header {
    color: #F6F7EB;
    text-align: center;
    padding-bottom: 0.2em;
}

.navbar,
.navbar-light .navbar-brand,
.navbar-light .navbar-toggler {
    color: #F6F7EB;
    font-weight: 800;
    background-color: #393E41;
}

header hr {
    border-width: 3px;
    border-color: #F6F7EB;
    width: 60px;
}

.navbar-light .navbar-brand {
    font-size: 18px;
}

.navbar-toggler,
.nav-link,
.navbar-light .navbar-nav .active>.nav-link {
    color: #F6F7EB;
    font-size: 12px;
    text-transform: uppercase;
    transition: 400ms;
}

.marquee {
    border-radius: 2px;
    color: #F6F7EB;
    background-color: #F3CA40;
    padding: 0.4em;
    margin: 0.4em 0;
}

.synthesis {
    margin: 0.5em 0 1em 0;
    text-align:center;
}

h1 {
    padding-top: 0.5em;
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
}

.alertMessage {
    background-color: #E94F3760;
    font-size: 0.9em;
    padding: 0.5em 1em;
    border-radius: 10px;
    text-align: center;
}

.alertMessage p {
    margin-bottom:0;
}

.alertMessage--close {
    color: #E94F37;
    text-decoration: underline;
    display: block;
    text-align: right;
    padding-top: 0.5em;}

.currentContent-container,
.forecastContent-container {
    display:flex;
    flex-direction: column;
    margin: 1em auto;
    padding:0.5em 0;
}

.forecastContent-container {
    background-color: #F8F9FA70;
    box-shadow: 3px 3px 3px 3px #eaebed;
}

.nodisplay,
.forecast__content.nodisplay {
    display:none;
}

.weather,
.tide {
    width: 100%;
    margin: auto;
}

.weather__title {
    text-align: left;
    margin: 1rem;
    padding-top: 1rem;
}

.weather__container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0.5em;
    flex-wrap:wrap;
}

.weather__picture {
    display:flex;
    align-items: center;
    justify-content: center;
}

.weather__content {
    display: flex;
    flex-direction: column;
    /* margin: 0.5em; */
    width:47%;
    justify-content: center;
}

#wc1 {
    border: 2px solid #F3CA40;
    background-color: #F3CA40;
    border-radius: 10px;
}

#wc2 {
    border: 2px solid #44BBA4;
    background-color: #44BBA4;
    border-radius:10px;
    font-size: 1.5em;
    justify-content: center;
    flex-direction: column;
}

#wc3 {
    width: 97%;
    margin-top: 1em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #44BBA4;
    background-color: #44BBA4;
    border-radius: 10px;
}

.weather__temperature--Felt {
    font-size: 1rem;
    padding-top:0.8em;
}

.weather__description {
    padding: 0.5em;
    text-align:center;
    text-transform: capitalize;
}

.weather__temperature,
.weather__content--wind {
    padding : 0.5em 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.weather__content--wind{
    justify-content: center;
    flex-direction: column;
    width:65%;
    font-size: 1.3em;
}

.wind-max {
    font-size:1rem;
    padding-top:0.4em;
}

.weather__content--wind span {
    padding-left:0.2em;
}

.weather__content--windDir {
    padding:1em;
    height: 100%;
    font-size:1.2em;
    align-items: center;
    display: flex;
}

.weather__content--windDir span {
    margin-left:0.4em;
}

.forecast__weather--nextHours {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2em;
    padding-top: 1em;
    text-align: center;
}

.tide__container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #3F88C5;
    background-color: #3F88C5;
    color:#fff;
    width: 97%;
    border-radius: 10px;
    margin: 0.5em auto;
    align-items: flex-start;
    padding-left: 0.5em;
}

.tide__currentTide {
    font-size: 1.1em;
    padding-top: 0.4em;
    text-align: left;}

.currentTide-status {
    font-weight: bold;
}

.tide__nextTide--title {
    font-weight:bold;
    margin-top: 0.5em;
    margin-bottom:0;
}

.tide__secondTide--title {
    margin-top: 0.2em;
}

.forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:0.9em;
}

.forecast__title {
    width: 100%;
    color: #666;
    font-size: 1.1em;
    border-radius: 5px;
    padding: 0.5em;
    margin:auto 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1em;
    padding-left: 1em;
}

.forecast__title p {
    margin-bottom:0;
    font-weight:bold;
}

.forecast__title i {
    font-size: 1.5em;

}

.forecast__content {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.page-link {
    text-transform: uppercase;
    color: inherit;
    font-size: 0.8em;
}

.page-link:hover {
    background-color: #dee2e6;
    color: inherit;
}

footer {
    color: #888;
    font-size:0.9em;
    margin: 3em 0 1em 0;
}

.row {
    margin: 0;
}

footer .links a {
    color: inherit;
}

footer .links a:hover {
    color: grey;
    text-decoration: none;
}


/* DEVICE TABLET => md in bootstrap */
@media (min-width:768px) {

    header {
        padding-bottom: 0;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: #17A2B8;
    }

    .navbar-nav .nav-item.active .nav-link, {
        color : #17A2B8;
    }


    h1 {
        font-size: 36px;
    }

    .currentContent-container {
        display:flex;
        flex-direction: row;
    }

    .weather, 
    .tide {
        width: 50%;
        margin: auto;
    }

    .weather__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: flex-start; */
    }

    .weather__forecast--nextHours {
        justify-content: center;
    }

    .forecast__content {
        width:50%;
    }


}

/* DEVICE PC => lg in bootstrap */
@media (min-width:992px) {

    header h1 {
        font-size: 2em;
    }

}